

.start-button-1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1c2131;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    border: 1px solid gray;
    font-size: 1.1em;
    transition: transform 0.5s ease-in-out;
    /* Added transition property here */

}

.start-button-1:hover {
    background-color: #1c2131;
    transform: scale(1.1);
    box-shadow: 0 0px 16px 3px rgba(60, 117, 155, 0.932);

}

.start-button-1:active {
    background-color: #525252c7;
}